@page
@model PRN222_Group4_FinalProject_FPTUResearchPaperManagement.Pages.Administrator.DashboardModel
@{
    ViewBag.ShowSidebar = true;
    ViewBag.ActiveMenu = "Dashboard";
}
<h1>Administrator Dashboard</h1>